*{margin: 0;padding: 0}
body{
    margin: 0;
    padding: 0;
}

/* nav.jsx */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    transform: translateZ(0);
    padding-top: 10;
    margin-top: 0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    align-items: center;
    padding-right: 10px;
  }
  
  .navbar-menu li {
    margin-left: 10px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu li a:hover {
    text-decoration: underline;
  }

footer{
    text-align: center;
    padding: 3px;   
    background-color: black;
    color: white;
    display: block;
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
}
body{
    padding-bottom: 20px;
}

/* cards.jsx */

.dispCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust spacing between flexed boxes */
    margin: 4rem auto;
    gap: 10px;
    max-width: 90%;
  }
  
  .card {
    text-align: center;
    width: calc(25% - 2rem); /* Calculate the width to occupy one-third of the row */
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
  }
  /* CSS file */
.card.red{
    border: solid 1px rgb(255, 123, 123);
}
.card.red:hover{
    border: solid 2px rgb(255, 123, 123);
}
  .card-server{
    padding-bottom: 10px;
  }
  .card-storage,
  .card-memory {
    display: none;
  }
  
  .card:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  
@keyframes expandCard {
    0% {
      width: 20rem;
    }
    100% {
      width: 100vw;
    }
  }

  /* head.jsx */

.head{
    text-align: center;
}
.head img{
  height: 100px;
}
.head h1{
    font-size: 42px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.head h1 span{
    color: #ff0000;
}

/* server.jsx */
.server .top{
    padding-top: 40px;
    text-align: center;
}
  




  /* servers.jsx */
  .servers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .servers-content {
    max-width: 800px;
    margin-top: 20px;
  }
  
  .server {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.2s;
    width: 800px;
  }
  
  .server:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .server-head {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .server-head h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .server-head h2 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 2px;
  }
  .server-head p {
    padding: 1px;
  }
  
  .server-body {
    display: flex;
  }
  .server-body-memory,.server-body-storage{
    text-align: center;
  }
  .server-body-memory p,.server-body-storage p{
    padding: 10px;
  }
  .server-body-memory,
  .server-body-storage {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .server-body h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    padding-bottom: 20px;
    width: 100px;
    margin-top: 10px;
  }
  
  .server-body-storage {
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }
  
  .server-body-storage h1 {
    margin-top: 0;
    padding-top: 0;
  }
  
  .server-body-storage p {
    margin-bottom: 5px;
  }
  
  .server-body-storage p:last-child{
    margin-bottom: 0;
  }
  
  .progress-bar {
    align-self: center;
    width: 100px;
    margin-top: 10px;
  }
  
  /* Styling for the circular progress bar */
  
  .server:hover .CircularProgressbar .CircularProgressbar-text {
    opacity: 1;
  }
  
  .server-body-storage p:hover,.server-body-memory p:hover{
    background-color: #eee;
    cursor: pointer;
  }
  
  /* login.jsx */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
  }
  
  .login-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  
  .login-container p {
    margin-top: 20px;
  }
  
  .login-container a {
    color: blue;
  }
  
  /* sigup.jsx */
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
  }
  
  .signup-container input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
  }
  
  .signup-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .signup-container button:hover {
    background-color: #45a049;
  }
  
  .signup-containerp {
    margin-top: 20px;
  }
  
  .signup-container a {
    color: blue;
  }
  

  /* profile_user.jsx */
  .profile-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 1rem;
  }
  
  .profile-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-top: 10px;
  }
  
  .profile-container p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .profile-container button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  